.interest {
    @include mobile-padding;
    padding-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    @include font(400, rem($root-text-size));
}

.interest__title {
    margin: 0;

    @include mq-tablet {
        font-size: rem(30px);
    }
}

.interest__text {
    margin: 40px 0;
}

.interest__btn {
    @include font(700, rem(21px));
    @include btn(1em, (47px / 21px + 0em), $blue, $white);
    cursor: pointer;

    &:hover {
        background: #669ec0;
    }
    &:active {
        background: #5496bd;
        color: rgba(255, 255, 255, 0.3)
    }
}

.interest__btn--disable {
    background: #e5e5e5;
    cursor: not-allowed;
}