.banner {
    position: relative;
    // для центрирования картинки
    text-align: center;
    background: url(../img/back-mobile.jpg) center/cover no-repeat;

    @media screen and 
    (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        background-image: url(../img/back-mobile.jpg@2x.jpg);
    }

    @media screen and (min-width: $tablet) {
        background-image: url(../img/back-tablet.jpg);
        
        @media screen and 
        (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
            background-image: url(../img/back-tablet.jpg@2x.jpg);
        }
    }

    @media screen and (min-width: $desktop) {
        background-image: url(../img/back-desktop.jpg);
        
        @media screen and 
        (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
            background-image: url(../img/back-desktop.jpg@2x.jpg);
        }
    }
}

.banner::after {
    @include background-angle;
}

.banner__img {
    width: 100%;
    @include mobile-padding;
    box-sizing: border-box;
    margin: 90px auto;

    @media screen and (min-width: $tablet) {
        width: auto;
    }
}