@mixin font($weight, $size) {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: $size;
    font-weight: $weight;
}

@mixin mobile-padding {
    @media screen and (max-width: $tablet) {
        padding-left: rem(20px);
        padding-right: rem(20px);
    }
}