// text size
$root-text-size: 14px;

$text-size: rem(14px);

$header-text-size: rem(18px);
$header-text-size-tablet: rem(21px);

$menu-text-size: rem(18px);
$menu-text-tablet: rem(14px);

$button-text-size: rem(21px);

// colors
$blue: #81b3d2;
$white: #ffffff;
$grey: #eeeeee;