<nav class="navbar">
    <a href="/" class="navbar__logo">
        Главная страница
    </a>
    <span class="navbar__menu-btn menu-btn">
        <svg width="22" height="22" class="menu-btn__svg">
            <use id="toggle-menu__icon" xlink:href="#menu-burger"></use>
        </svg>
    </span>
    <div class="navbar__menu-list menu-list">
        <div class="menu-list__left">
            <a class="menu-list__link active-page" href="">главная</a>
            <a class="menu-list__link" href="">фото и видео</a>
        </div>
        <div class="menu-list__right">
            <a class="menu-list__link" href="">форма отзыва</a>
            <a class="menu-list__link" href="">html academy</a>      
        </div>
    </div>
</nav>