<article class="about">
    <header class="about__header">
        <h1 class="about__title">
            СЕДОНА — небольшой городок в АРИЗОНЕ,<br> зАСЛУЖИвающий большего!
        </h1>
        <p class="about__promo-text">
            Рассмотрим 5 причин, по которым Седона круче, чем гранд каньон!
        </p>
    </header>
    <div class="reason">
        <section class="reason__content reason__content--blue">
            <h2 class="reason__title">НАСТОЯЩИЙ ГОРОДОК</h2>
            <p class="reason__line"><span class="reason__number">№1</span></p>
            <p class="reason__text">СЕДОНА НЕ АТТРАКЦИОН ДЛЯ ТУРИСТОВ, ТАМ ТЕЧЕТ СВОЯ ЖИЗНЬ</p>
        </section>
        <div class="reason__crop">
            <picture class="reason__picture">
                <source media="(min-width: 1200px)" srcset="img/photo-city-desktop.jpg, img/photo-city-desktop@2x.jpg 2x">
                <source media="(min-width: 768px)" srcset="img/photo-city-tablet.jpg, img/photo-city-tablet@2x.jpg 2x">
                <img class="reason__img" src="img/photo-city-mobile.jpg" alt="фото города" srcset="img/photo-city-mobile@2x.jpg 2x">
            </picture>
        </div>
    </div>
    <div class="offers-wrap">
        <section class="offer">
            <svg width="36" height="36" class="offer__icon">
                <use fill="#81b3d2" xlink:href="#house"></use>
            </svg>
            <h2 class="offer__title">Жилье</h2>
            <p class="offer__text">
                Рекомендуем пожить в настоящем мотеле, все как в кино!
            </p>
        </section>
        <section class="offer">
            <svg width="36" height="36" class="offer__icon">
                <use fill="#81b3d2" xlink:href="#gift"></use>
            </svg>
            <h2 class="offer__title">Сувениры</h2>
            <p class="offer__text">
                Не только китайского, но и местного производства!
            </p>
        </section>
        <section class="offer">
            <svg width="36" height="36" class="offer__icon">
                <use fill="#81b3d2" xlink:href="#burger"></use>
            </svg>
            <h2 class="offer__title">Еда</h2>
            <p class="offer__text">
                Всегда заказывайте ФИРМЕННЫЙ БУРГЕР, Вы НЕ разочаруетесь!
            </p>
        </section>
    </div>
    <div class="reason reason--reverse">
        <section class="reason__content reason__content--blue">
            <h2 class="reason__title">
                ТАМ ЕСТЬ Мост дьявола
            </h2>
            <p class="reason__line"><span class="reason__number">№2</span></p>
            <p class="reason__text">Да, по нему можно пройти! Если вы осмелитесь, конечно</p>
        </section>
        <div class="reason__crop">
            <picture class="reason__picture">
                <source media="(min-width: 1200px)" srcset="img/photo-bridge-desktop.jpg, img/photo-bridge-desktop@2x.jpg 2x">
                <source media="(min-width: 768px)" srcset="img/photo-bridge-tablet.jpg, img/photo-bridge-tablet@2x.jpg 2x">
                <img class="reason__img" src="img/photo-bridge-mobile.jpg" alt="фото города" srcset="img/photo-bridge-mobile@2x.jpg 2x">
            </picture>
        </div>
    </div>
    <div class="reason">
        <section class="reason__content">
            <h2 class="reason__title">
                ТАМ ЕСТЬ Мост дьявола
            </h2>
            <p class="reason__line"><span class="reason__number">№2</span></p>
            <p class="reason__text">Да, по нему можно пройти! Если вы осмелитесь, конечно</p>
        </section>
        <section class="reason__content">
            <h2 class="reason__title">
                ТАМ ЕСТЬ Мост дьявола
            </h2>
            <p class="reason__line"><span class="reason__number">№2</span></p>
            <p class="reason__text">Да, по нему можно пройти! Если вы осмелитесь, конечно</p>
        </section>
        <section class="reason__content">
            <h2 class="reason__title">
                ТАМ ЕСТЬ Мост дьявола
            </h2>
            <p class="reason__line"><span class="reason__number">№2</span></p>
            <p class="reason__text">Да, по нему можно пройти! Если вы осмелитесь, конечно</p>
        </section>
    </div> 
</article>