<footer class="footer">
    <a href="https://twitter.com/hashtag/visitsedona" class="footer__hashtag">#visitsedona</a>
    <div class="footer__social-wrap">
        <a href="#" class="social-link social-link--twitter">
            <svg height="18" width="20" class="social-link__svg">
                <use fill="#ffffff" xlink:href="#twitter"></use>
            </svg>
        </a>
        <a href="#" class="social-link social-link--facebook">
            <svg height="18" width="20" class="social-link__svg">
                <use fill="#ffffff" xlink:href="#fb"></use>
            </svg>
        </a>
        <a href="#" class="social-link social-link--youtube">
            <svg height="18" width="20" class="social-link__svg">
                <use fill="#ffffff" xlink:href="#youtube"></use>
            </svg>
        </a>
    </div>
    <a href="#" class="footer__developer">
        Разработано <svg class="footer__dev-svg" height="34" width="27"><use xlink:href="#htmlacademy"></use></svg>
    </a>
</footer>