html {
    font-size: $root-text-size;
    background: #f2f2f2;
}

body {
    min-width: $mobile-res;
    max-width: $desktop-res;
    margin: 0 auto;
    background: $white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2) 
}

.btn {
    border: none;
    text-transform: uppercase;
}