// normalize-scss
@import "normalize";
@include normalize();
@import "functions";
@import "variables";
@import "mixins";

body {
    max-width: 1200px;
    margin: 0 auto;
    background: #f2f2f2;
}

@import "global";
@import "navbar";
@import "promo-index";